@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
:root {
  --blue: rgb(91, 50, 255);
  --blue-gradient: linear-gradient(229deg, rgba(64,20,111,1) 0%, rgba(30,179,228,1) 100%);
}

body, * {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }
}

.coped {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: rgb(18, 18, 18);
  color: #fff;
  padding: 7px 10px;
  box-sizing: border-box;
  border-radius: 50px;
  transform: translateY(10px);
  transition: 0.3s;
  opacity: 0;
}
.coped.active {
  transform: translateY(0);
  opacity: 1;
}

.copy {
  cursor: pointer;
}

.menu {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(229deg, rgb(64, 20, 111) 0%, rgb(30, 179, 228) 100%);
  top: 0;
  z-index: 10;
}
@media screen and (max-width: 380px) {
  .menu {
    padding: 13px 0;
  }
}
.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menu ul li {
  text-transform: uppercase;
  font-weight: 700;
}
.menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 3px 5px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (max-width: 380px) {
  .menu ul li a {
    font-size: 13px;
  }
}
.menu ul li a::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: translateY(5px);
  opacity: 0;
  transition: 0.3s;
}
.menu ul li a:hover::before {
  transform: translateY(0);
  opacity: 1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
}
.header img {
  width: 300px;
}
@media screen and (max-width: 460px) {
  .header img {
    width: 250px;
  }
}
.header p {
  font-size: 17px;
  width: 400px;
  text-align: center;
  line-height: 25px;
  opacity: 0.8;
}
@media screen and (max-width: 460px) {
  .header p {
    width: 90%;
    font-size: 15px;
  }
}
.header a {
  text-decoration: none;
  background-color: var(--blue);
  color: #fff;
  padding: 9px 12px;
  border-radius: 15px 0 15px 0;
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border-bottom: none;
  border-right: none;
  padding: 10px 0;
  margin: 15px 0;
  font-family: Lato;
  box-sizing: border-box;
  overflow: hidden;
}
@media screen and (max-width: 380px) {
  textarea {
    margin-left: -20px;
  }
}

.about h2, .getCdn h2 {
  margin-top: 25px;
}
.about p, .getCdn p {
  line-height: 26px;
  margin-top: 10px;
}
.about .cdn, .getCdn .cdn {
  padding: 15px 30px;
  background: var(--blue-gradient);
  color: #fff;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}
@media screen and (max-width: 600px) {
  .about .cdn, .getCdn .cdn {
    padding: 15px 10px;
    font-size: 13px;
  }
}
.about .cdn button, .getCdn .cdn button {
  background-color: #fff;
  border: none;
  padding: 5px 12px;
  border-radius: 30px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .about .cdn, .getCdn .cdn {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}

.codes ul {
  list-style: none;
}
.codes li {
  line-height: 25px;
}
.codes > ul {
  margin-top: 15px;
}
.codes > ul > li {
  margin-left: 10px;
}
.codes > ul > li > ul {
  margin-left: 10px;
  margin-bottom: 10px;
}
.codes > h3 {
  margin: 10px 0;
}/*# sourceMappingURL=style.css.map */